*{
    margin: 0;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #a3a3a3;
}
.top_bar{
    margin: auto;
    width: 1200px;
    height: 40px;
}
.top_bar span{
    display: inline-block;
    width: 400px;
    float: left;
    margin: auto;
    text-align: center;
    line-height: 40px;
}
.options{
    width: 1200px;
    height: 40px;
    margin: auto;
    background-color:#ffae00;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.options span{
    display: inline-block;

}
.informa{
    width: 1200px;
    height: 900px;
    background-color:white;
    overflow: hidden;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height:40px ;
    overflow: scroll;
    overflow-x:hidden;
}

.informa::-webkit-scrollbar{
    width: 6px;
}
.informa::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.informa::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);

}
.informa ul li .icom{
    text-decoration: none;
    font-family:'icomoon';
    color: black;
    margin-left: 10px;
}.informa ul li .icom:hover{
    color: #e67689;
 }
.informa ul .tils{
    color: black;
}
.informa ul .tils:hover{
    color: #1ebbee;
}
.informa ul{
    margin-top: 10px;
    display: inline-block;
    list-style: none;
    height: 40px;
}
.informa ul li {
    float: left;
    width: 140px;
}
.informa ul li:nth-child(1){
    width: 100px;
}
.informa ul li:nth-child(2){
    width: 450px;
}
.informa ul li:nth-child(5){
    width: 280px;
}
.options span  select{
    width: 100px;
    height: 30px;
    font-size: 15px;
}

