*{
    margin: 0;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color:#f6f6f6 ;
    position: relative;
}

.top_bar{
    width: 100%;
    height: 40px;
    background-color: #242933;
    line-height: 40px;
    font-size: 10px;
    list-style: none;
}
.top_bar a{
    color:#70757f;
}
.top_bar a:hover{
    color: rgba(255, 255, 255, 0.55);
}
.top_bar .top_bar_left li{
    float: left;
    margin-left: 20px;
}
.top_bar .top_bar_right li{
    float: left;
    margin-right: 20px;
}
.top_bar span{
    display: inline-block;
}
.top_bar .top_bar_left{
    float: left;
    margin-left: 10%;
}
.top_bar .top_bar_right{
    float: right;
    margin-right: 6%;
}

.top_bar .register_sign{
    width: 200px;
    height: 120px;
    background-color: white;
    position: absolute;
    right: 4%;
    top: 40px;
    font-size: 15px;
    line-height: 40px;
    border-radius: 5px;
    display: none;
    z-index: 100;
}
.top_bar .register_sign span{
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    display: inline-block;
}

.top_bar .register_sign .icom{
    font-family:'icomoon';
}
.top_bar .register_sign a{
    color: black;
}
.top_bar .register_sign a:hover{
    color: #1982c7;
}
.series{
    height: 85px;
    width: 100%;
    background-color: #ffffff;
    line-height: 85px;
    overflow: hidden;
}
.series .center{
    position: relative;
    margin-left: 11%;
}
.series .center ll{
    font-size:40px ;
    font-weight: 600;
}
.series .center ll:hover{
    color: #415fff;
}
.series .center .drop_down{
    position: absolute;
    left: 20%;
}
.series .center  li{
    float: left;
    font-size: 14px;
    margin-left: 40px;
    color: black;
    font-weight: 400;
    list-style: none;
}
.series .center li:hover{
    color: #415fff;
}

.calendar_frame{
    position: absolute;
    top: 100px;
    left: 40%;
    width: 400px;
    height: 293px;
    border:1px solid #ffae00 ;
    color: #ffae00;
    overflow: hidden;
    z-index: 1;
}
.calendar_frame span:hover{
    color: red;
}
.calendar_frame .top_bars span{
    display: inline-block;
    width: 124px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.calendar_frame .top_bars span:nth-child(2){
    border-right:1px solid #ffae00 ;
    border-left:1px solid #ffae00 ;
    width: 140px;
}
.calendar_frame .hrs{
    border-top:1px solid #ffae00;
}
.calendar_frame .week span{
    display: inline-block;
    width: 52px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.calendar_frame .ool {
    width: 100%;
    height: 196px;
}

.calendar_frame .ool .day{
    display: inline-block;
    width: 56px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.calendar_frame .ool .w:hover{
    background-color: green;
    color: white;
}
.calendar_frame .ool .p:hover{
    background-color: red;
    color: black;
}
.calendar_frame .ool .s:hover{
    background-color: #1ebbee;
    color: white;
}
.calendar_frame .ool .w{
    background: url(../img/t.png) no-repeat;
    background-size: 100% 100%;
    opacity: 50;
    z-index: 2;
}
.calendar_frame .ool .p{
    background: url(../img/f.jpg) no-repeat;
    background-size: 100% 100%;
    opacity: 50;
    z-index: 2;
}
.calendar_frame .atten{
    width: 100%;
    height: 33px;
    border-top: 1px solid #ffae00;
}
.calendar_frame .atten span{
    display: inline-block;
    width: 100%;
    height: 33px;
    line-height: 30px;
    text-align: center;
}

.calendar_frame .atten span:hover{
    background-color:#2675bf ;
    color: white;
}
.calendar_frame .ool .cli{
    border: 2px solid #108afc;
    color:#108afc ;
}
.template{
    width: 1200px;
    margin: auto;
}
.back{
    background-color: #fff;
}
.search{
    position: relative;
    height: 121px;
}
.search a{
    color:#666;
}
.search a:hover{
    color: red;
}
.search img{
    height: 120px;
    width: 230px;
}
.search input{
    position: absolute;
    top: 40px;
    left: 300px;
    height: 36px;
    width: 491px;
    border-radius: 3px 0px 0px 3px;
    border-color: red ;
    color: #666666;
}
.search button{
    position: absolute;
    top: 40px;
    left: 795px;
    height: 40px;
    width: 132px;
    border-left: 0px;
    color: white;
    border-radius: 0px 3px 3px 0px;
    font-size: 18px;
    background-color: red;
}
.classification{
    position: relative;
}
.classification .moudule{
    margin-left: 24px;
    font-size: 14px;
    color: white;
    line-height: 36px;
    height: 36px;
    width: 185px;
    background-color: #ff0036;
    display:inline-block;
}
.classification  .icom{
    margin-left: 20px;
    margin-right: 5px;
    font-size: 13px;
    font-family: 'icomoon';
    color:white;
}
.classification  img{
    position: absolute;
    top: 2px;
    height: 30px;
    width: 100px;
}
.classification .often span a:hover{
    color:red;
}
.classification .often a{
    color: #333;
    margin-right: 6px;
}
.classification .often{
    margin-left: 230px;
    font-size: 16px;
    color: #333;
}
.hr{
    border-top: 1px solid red;
}
.carousel{
    background-color:#e8e8e8 ;
}
.carousel .image{
    position: relative;
    overflow: hidden;
}
.carousel .image .list{
    height: 500px;
    width: 185px;
    position: absolute;
    background-color:black;
    opacity: 0.6;
    left: 24px;
    z-index: 4;
}
.carousel .image .list ul li{
    height: 22px;
    line-height: 22px;
}
.carousel .image span a{
    color: white;
}
.carousel .image span a:hover{
    color: red;
}
.carousel .image ul li{
    text-align: center;
    margin-bottom: 10px;
}
.carousel .image .side{
    position: absolute;
    left: 209px;
    display: inline-block;
    background-color: black;
    opacity: 0.6;
    z-index: 4;
    width: 900px;
    height: 502px;
    color: white;
    font-size: 12px;
    display: none;
}
.carousel .image .side .lef{
    display:inline-block;
    width: 120px;
    height: 505px;
}
.carousel .image .side .rig{
    position: absolute;
    top: 0;
    left: 0px;
    width: 700px;
    height: 505px;
    display:inline-block;
}
.carousel .image .side .lef li{
    margin-top: 44px;
}
.carousel .image .side .rig li{
    margin-top: 20px;
}
.carousel .image .images img{
    position: absolute;
    left: 0;
    height: 500px;
    width: 1200px;
}
.carousel .image .images{
    position: relative;
    height: 500px;
    width: 1200px;
    overflow: hidden;
}
.carousel .image .images ol{
    position: absolute;
    left: 450px;
    top: 470px;
    z-index: 3;
}
.carousel .image .images ol li{
    float: left;
    width: 40px;
    height:10px;
    border-radius: 5px;
    background-color: #a3a3a3;
    margin-right: 20px;
}
.carousel .image .images ol .one{
    background-color: #d8ecf7;
}
.cooperation{
    width: 1230px;
    height: 327px;
    margin-top: 50px;
}
.cooperation ul li img{
    width: 122px;
    height: 108px;
}
.cooperation ul li{
    float: left;
}
.cooperation ul li div{
    width: 122px;
    height: 112px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 60px;
    display: none;
    cursor: pointer;
}
.cooperation ul li div span{
    display: block;
    width: 55px;
    height: 20px;
    border-radius: 7px;
    font-size: 8px;
    line-height: 20px;
    background-color: rgb(250, 0, 0);
}
.cooperation .one li div{
    top: 0px;
}
.cooperation .two li div{
    top: 114px;
}
.cooperation .three li div{
    top: 228px;
}
.cooperation .one li,.cooperation .two li{
    margin-right: 1px;
    margin-bottom:1px;
}
.cooperation .one,.cooperation .two,.cooperation .three{
    position: relative;
}
.cooperation .three li{
    margin-right: 1px;
}
.sidebar{
    height: 369px;
    width: 36px;
    top: 730px;
    left: 100px;
    font-size: 10px;
    color: white;
    text-align: center;
    position: absolute;
    display: none;
    z-index: 2;
}
.sidebar ul li{
    width: 36px;
    height: 36px;
    margin-top: 1px;
    background-color: #626262;
}
.sidebar span{
    width: 36px;
    height: 36px;
    display: inline-block;
}
.sidecalssfication {
    width: 1200px;
    position: relative;
}
.sidecalssfication img{
    width: 200px;
    height: 33px;
}
.sidecalssfication li{
    height: 500px;
    margin-top: 50px;
    font-size: 20px;
}
.sidecalssfication li span .icom{
    font-family:'icomoon';
    color: rgb(240, 112, 161);
}
/* .sidecalssfication li div{
    width: 6px;
    height: 25px;
    display: inline-block;
    background-color: black;
    margin-right: 30px;
} */
.sidecalssfication li span{
    position: absolute;
}
.sidecalssfication li .verline::before{
    content: "|";
    width: 4px;
    background-color: #333;
    font-size: 15px;
    margin-right: 20px;
}
.sidecalssfication ul li:nth-child(1){
    background-color: #5abd5a;
}
.sidecalssfication ul li:nth-child(2){
    background-color: #ac54b4;
}
.sidecalssfication ul li:nth-child(3){
    background-color: #e67689;
}
.sidecalssfication ul li:nth-child(4){
    background-color: #09a8e7;
}
.sidecalssfication ul li:nth-child(5){
    background-color: #5abd5a;
}
.sidecalssfication ul li:nth-child(6){
    background-color: #c74747;
}
.sidecalssfication ul li:nth-child(7){
    background-color: #4cc4b4;
}
.sidecalssfication ul li:nth-child(8){
    background-color:#d3d370;
}
body{
    background-color: #f5f5f5;
}
/* 边框问题--introduce盒子出现问题 */
.introduce{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-top:1px solid #d1d7dc;
    border-bottom:2px solid red;
}
.introduce .guarantee{
    display: inline-block;
    width: 1200px;
    margin-left: 350px;
    height: 200px;
    border-bottom:1px solid #ededed;
}
.guarantee ul a li{
    float: left;
    width: 25%;
    height: 150px;
    font-size: 17px;
    text-align: center;
    margin-top:70px;
}
.guarantee ul a li p{
    font-weight: 800;
}
.bottombar{
    width: 100%;
    height: 220px;
    background-color: black;
}
