<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">

    <select id="onandoff" parameterType="_int" resultType="Register">
        select id,username,account,regdate,modifytime,lastlogintime,onoff from userinfo
        <where>
            <if test="onoff==1">
                onoff=#{onoff}
            </if>
            <if test="onoff==2">
                onoff=#{onoff}
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <insert id="adduser" parameterType="Register">
        insert into userinfo values (0,#{username},#{account},#{pwd},#{regdate},#{modifytime},#{lastlogintime},#{onoff})
    </insert>

    <select id="queryone" parameterType="string" resultType="_int">
        select count(*) from userinfo where account = #{account}
    </select>

    <select id="queryaccount" parameterType="string" resultType="_int">
        select count(*) from userinfo where account = #{account} and pwd = #{pwd}
    </select>

    <select id="pikeupinformation" parameterType="string" resultType="Register">
        select * from userinfo where account=#{account}
    </select>

    <select id="getpwd" parameterType="string" resultType="string">
        select pwd from userinfo where account=#{account}
    </select>

    <delete id="userdel" parameterType="string">
        delete from userinfo where account=#{account}
    </delete>

    <update id="updateuser" parameterType="string">
        update userinfo set username=#{username},pwd=#{pwd}, modifytime=#{modifytime}  where account=#{act}
    </update>

    <update id="offtime" parameterType="string">
        update userinfo set lastlogintime=#{lastlogintime} where account=#{account}
    </update>

    <update id="onoffs" parameterType="map">
        update userinfo set onoff=#{onoff} where account=#{account}
    </update>

</mapper>